################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleModule/v14/.suo
/src/Profile/Profile.pssproj.vspscc
/.vscode
/src/SampleModule/bin/Release
/src/SampleModule/SampleModule.psd1
