################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleModule/v14/.suo
/src/Profile/Profile.pssproj.vspscc
